@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #F7F9FC;
    --text-color: #1A2144;
    --primary-color: #0470DE;
}
  
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}
  
li {
    list-style: none;
}
h1{
    text-align: center;
    margin: 2rem 2rem 3rem 2rem;
}


.input-label {
    display: block;
    font-size: large;
    margin: 2.5rem 0.2rem;
    font-weight: 500;
}
  
.input {
    font-size: medium;
    display: block;
    outline: #fff;
    padding: 0.6rem ;
    margin:  0.2rem auto 1rem;
    background: transparent;
    border: 0.5px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 325px;
}
  
.btn-check {
    background: var(--text-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: medium;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
  }
  
  .output {
    font-size: x-large;
    font-weight: 600;
    margin: 2rem 1rem;
  }

  .footer{
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
}

.footer h4{
   margin-bottom: 0.2rem; 
   color: var(--text-color);
   font-weight: 400;
   font-size: 0.8rem;
}
.footer a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
   font-size: 0.8rem;
 }
 .list-non-bullet{
    list-style: none;
    padding: 0;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem ;
}
.link{
    color: var(--text-color) !important;
    font-weight: 400 !important;
}
.profitBg{
    background-color: #0FC28B;
}

.lossBg{
    background-color: #FF395E;
}